.text-primary {
  color: var(--theme-color-primary); 
  /* padding: 2rem 2rem; */
  /* text-align: right; */
  /* margin-right: 250px; */
  width: fit-content;
  margin-block-start: 200px;
  margin-inline-start: auto;
}

.text-principle {
  display: grid;
  text-align: left;
  font-size: 2.5rem;

  .owners {
    display: flex;
    column-gap: 2ch;
    align-items: center;
    margin-inline-start: 2ch;
  }
  .puppies {
    font-size: 1.5rem;
  }
}

.Shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;

  svg {
    position: absolute;
    left: 0;
    width: 190%;
  }
}

.Nav-links button {
  background-color: #1f2d3d;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: var( --theme-font-quicksand);
  
}

.hero-section {
  position: relative;
  padding-block-start: 120px; /*padding-top*/
  position: relative;
}

.Dog {
  position: absolute;
  bottom: 0;
  left: -100px;
  height: 500px;

}
