.mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.mission-img {
    flex: 1;
    width: 40%;
    height: auto;
    max-width: 35rem;
}
.mission-title {
    font-family: var(--theme-font-chewy);
}

.mission-text-container {
    font-family: var(--theme-font-quicksand);
    font-size: 1rem;
    text-align: center;

    p {
        max-width: 35ch;
    }
}
