.Testimonial-container {
    display: grid;
    row-gap: 2rem;

    h2 {
        text-align: center;
        font-family: var(--theme-font-chewy);
    }

    .wrapper {
        display: flex;
        justify-content: space-evenly;
    }
}

.Testimonial-cards-container{
    display: grid;
    gap: min(1rem, 2rem, 5rem);
    justify-Content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 820px) {
    .Testimonial-container {
        padding: 2rem;
        text-align: center;
        padding: 0 20px;

        h2 {
            font-size: 2rem;
        }
    }
}