.language-container{
    position:  relative;
    display: inline-flex;
    align-items: center;
}

.button{
    background: none;
    border: none;
    cursor: pointer;
    color: black;

}
.button:hover{
    color: #43bb6f;
}

.select-container{
    position: absolute;
    top: 30px;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-Shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    font-family: var( --theme-font-chewy);
    background-color: var( --theme-color-contrast);
    color: #ffff;

    

}

.select-input{
    padding: 8px 12px;
    cursor: pointer;
}

